.sidebarRoute {
    display: flex;
  }
  
  .sidebar-main {
    position: fixed;
    display: flex;
    flex-direction: column; 
    height: 100vh; 
    width: 250px; 
    background-color: #16334b;
    color: #fff;
  }
  
  .contentRoutes {
    flex: 1;
    padding: 0px;
    background-color: #f4f4f4;
    margin-left: 250px;
  }
  
  .sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
  }
  

@media screen and (max-width: 1024px) {
  .contentRoutes {
    margin-left: 250px;
  }
  .sidebar a {
    margin-bottom: 0;
  }
  .sidebar a:hover {
    text-decoration: none;
  }
  
}