.drag-file-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileInput-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 600px;
}

.toaster-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.labelInput-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.drag-file {
  width: 500px;
  height: 300px;
  border: 2px dashed #4caf50;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4cad4f;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0 10px;
}

.drag-file:hover {
  border-color: #16334b;
  transform: scale(1.1);
}

.drag-file-hover {
  border-color: #f50057;
  color: #f50057;
  transform: scale(1.1);
}

.drag-file-clicked {
  background-color: rgba(245, 0, 87, 0.6);
  color: #fff;
}

.inside-label-drag .name-file-inside span{
  font-weight: bold;
  color: black;
}

.inside-label-drag .name-file-inside .fileName{
  border: dashed 2px black;
  padding: 5px;
}