.sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  justify-content: center;
  margin-top: 50px;
}
.sidebar-menu .option-menu {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  padding-bottom: 10px;
}

.sidebar-menu .option-menu:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255);
}

.sidebar-menu ul li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

.sidebar-menu .option-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.sidebar-menu .option-menu img{
  width: 20px;
  filter: invert(1) grayscale(1) brightness(0.6);
  transition: transform 0.3s ease;
}
.sidebar-menu .option-menu:hover img{
  filter: invert(1) grayscale(0) brightness(1);
}

.sidebar-menu .option-menu .rotate-toggle{
  transform: rotate(180deg);
}

.sidebar-menu .submenu{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding-left: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  width: 150px;
  margin-left: 20px;
  transition: all 0.3s ease;
}

/* Tamano container numero de bancos */
.sidebar-menu .isActive{
  height: 500px;
  opacity: 1;
  /* justify-content: center; */
}

.contracted {
  height: 0;
  overflow: hidden;
  transition: transform 0.3s ease
}

.expanded {
  height: 100px;
  --animate-duration: 0.3s;
}

.sidebar-menu .submenu li{
  list-style-type: disc;
  padding-left: 0;
}
.submenu li{
  color: rgba(255, 255, 255, 0.6);
  width: 120px;
}
.submenu li a{
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  padding-bottom: 10px;
}

.submenu li:hover, .submenu li:hover a{
  color: rgba(255, 255, 255);
}